@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body {
    margin: 0;
    font-family: -apple-system, 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx--font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif !important;
}

code {
    font-family: source-code-pro, menlo, MOnaco, Consolas, 'Courier new', monospace;
}

.nav-link {
    color: black !important;
}

.navbar-brand {
    color: black !important;
}

h1 {
    font-size: 20px !important;
}

.flex-container {
    display: flex !important;
}

.btn {
    background-color: red !important;
    color: white !important;
}

